.gradle
target
build
logs
out
customer.pid
gradle.properties
.surefire*
.settings
.project
.classpath
src/docs/asciidoc/generated/*
src/docs/swagger/*.json
.idea
.idea/*
.idea/gradle.xml
.idea/libraries
C:/
$ProjectFileDir$customer-service/
.DS_Store
customer.pid
src/main/resources/rebel.xml
customer.iml
.gradle
.classpath
.settings
.project
bin
build
target
*.iml
run.bat
*.bak